<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WC3MapDeprotector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WC3MapDeprotector.Properties.Settings>
            <setting name="WC3ExePath" serializeAs="String">
                <value>c:\Program Files (x86)\Warcraft III\_retail_\x86_64\Warcraft III.exe</value>
            </setting>
            <setting name="WorldEditExePath" serializeAs="String">
                <value>c:\Program Files (x86)\Warcraft III\_retail_\x86_64\World Editor.exe</value>
            </setting>
        </WC3MapDeprotector.Properties.Settings>
    </userSettings>
</configuration>